@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  /* outline: 1px solid red; */
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:focus,
a:active {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
  border-radius: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  background-color: red;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
  font-family: 'Ubuntu';
}

.container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}

/* ============================= */

.app {
  padding: 15px 10px;
  width: 400px;
  margin: 0 auto;
}
.app__title {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 1rem 0.5rem;
  text-align: center;
}
.app__review {
  background-color: #fff;
  padding: 10px;
  border: 2px solid pink;
  border-radius: 10px;
}
/* ============== */
.rev-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rev-app__img {
  /* width: 120px; */
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
.rev-app__author {
  margin: 10px 0;
  text-transform: uppercase;
}
.rev-app__job {
  margin: 10px 0;
  text-transform: uppercase;
  color: rgb(12, 139, 139);
}
.rev-app__info {
  margin: 10px 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  max-height: 96px;
  overflow-y: auto;
}
.rev-app__btns {
  width: 100px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rev-app__random {
  padding: 5px;
  background-color: rgb(131, 37, 3);
  color: rgb(255, 254, 254);
  border-radius: 7px;
}

/* ================= */
.btns-rev__prev,
.btns-rev__next {
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  color: red;
}
